body {
  margin: 0;
}
.over_view {
  display: grid;
}
.container {
  display: grid;
  height: 100%;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenave main"
    /* "sidenav footer" */;
  height: 100vh;
}
.header {
  grid-area: header;
  background-color: #648ca6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.sidenav {
  grid-area: sidenav;
  background-color: #394263;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sidenav > .sidenav_list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}
.sidenav__list-item a {
  text-decoration: none;
  color: #ddd;
}
.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.main {
  grid-area: main;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  grid-gap: 10px;
  padding: 20px;
  /* display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray; */
}
.main-header__left {
  /* background-color: #e3e4e6;
  padding: 0 10px; */
}
.main-header__right {
  /* background-color: #c0c2c7; */
}
.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #d3d3;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #82bef6;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}

/* My styles */
.profile-content-one {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  padding: 20px;
}
.profile-card {
  grid-column: 1/2;
  background-color: red;
  height: auto;
}
.frofile-detail {
  grid-column: 2/6;
  background-color: blue;
  height: auto;
}

/* .main {
    grid-area: main;
    background-color: #8fd4d9;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #e3e4e6;
    color: slategray;
  }
  .main-container > .main-container-one {
    background-color: rgb(94, 94, 75);
    width: auto;
    margin: 0 2px;
    text-align: center;
  }
  .main-container > .main-container-two {
    background-color: rgb(122, 122, 31);
    width: auto;
    margin: 0 2px;
    text-align: center;
  }
  .main-container-second {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #e3e4e6;
    color: slategray;
  }
  .div-one {
    background-color: brown;
    width: 100px;
  }
  .div-two {
    background-color: rgb(165, 42, 99);
    width: 100px;
  }
  .div-three {
    background-color: rgb(90, 78, 78);
    width: 100px;
  }
  .div-four {
    background-color: rgb(42, 165, 144);
    width: 100px;
  } */
/* .footer {
    grid-area: footer;
    background-color: #394263;
  } */
